# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries used by data scientists
- List open source tools used by data scientists

## Some of the popular languages that Data Scientist use are:

1. R
2. SQL
3. Python
4. Java

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools |
| ------------------ |
| MySQL |
| MongoDB |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers.

17

In [11]:
m=int(input("minutes : "))
hour=m/60
print (hour)

# This will convert 200 minutes to hours by dividing by 60.

minutes :  200

3.3333333333333335

## Author
Yiting Huang